{% extends 'amazing.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}

    <div class="text-white text-center text-3xl bg-gradient-to-r from-blue-500 to-blue-900 rounded-md font-semibold py-2 max-w-md mx-auto md:max-w-2xl mb-10 sticky top-[130px]">
        <h1>Liste des catégories</h1>
    </div>

    {% for category in categories %}
    <details>
        <summary class="bg-white rounded-md mx-auto w-2/3 md:max-w-2xl mb-10 py-4 pl-4 shadow-2xl hover:bg-blue-800 hover:text-white">
                {{ category.name }}
        </summary>
        
        <ul>
            {% for post in category.posts %}
            <li>
                <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl mb-10 mt-8">
                    <div class="md:flex">
                        <div class="md:shrink-0">
                            <img class="h-48 w-full object-cover md:h-full md:w-48" src="{{ post.image }}" alt="">
                        </div>
                        <div class="p-8">
                            <a href="{{ path('post_view', {slug: post.slug}) }}">
                                <div class="uppercase tracking-wide text-xl text-blue-800 font-semibold">
                                {{ post.title }}
                                </div>
                                <p class="mt-2 text-slate-700">
                                {{ post.content | u.truncate(150, '...') | raw }}  {# | raw , |date, etc sont des filtres twig #}
                                </p>
                            </a>
                        <div class="text-slate-500">
                            Rédigé par
                            {{ post.user.email }} {# on peut ici faire réf à user ET email grâce aux relations entre entités #}
                            le {{ post.createdAt | date('d/m/Y') }}
                            à {{ post.createdAt | date('H:i') }}
                            - classé dans {{ post.category.name }}
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </details>                 
    {% endfor %}
{% endblock %}