<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Amazing Sciences{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
           {{ encore_entry_link_tags('app') }} 
        {% endblock %}

        <link rel="stylesheet" href="{{ asset('Amazing/style.css') }}">

        {% block javascripts %}
           {{ encore_entry_script_tags('app') }} 
        {% endblock %}
    </head>
    <body class="bg-gradient-to-r from-orange-400 via-orange-300 to-orange-400">
    
        <!--NAVIGATION-->
        <header class="bg-gradient-to-b from-blue-500 to-blue-900 mb-2 pt-6 pb-6 sticky top-0 z-10 h-[120px]">
            <div class="flex justify-center text-white font-bold text-3xl pb-5">
            amazing Sciences
            </div>
            <nav class="">
                <ul class="flex flex-row justify-evenly text-teal-400 text-base">
                    <li>
                        <button class="hover:bg-blue-400 hover:text-teal-700 font-bold py-0 px-2 rounded">
                            <a href="{{ path('accueil') }}">Accueil</a>
                        </button>
                    </li>
                    <!--
                    <li>
                        <button class="hover:bg-blue-400 hover:text-teal-700 font-bold py-0 px-2 rounded">
                            <a href="#">Actualités</a>
                        </button>
                    </li>
                    -->
                    <li>
                        <button class="hover:bg-blue-400 hover:text-teal-700 font-bold py-0 px-2 rounded">
                            <a href="{{ path('app_post') }}">Articles</a>
                        </button>
                    </li>
                    <li>
                        <button class="hover:bg-blue-400 hover:text-teal-700 font-bold py-0 px-2 rounded">
                            <a href="{{ path('app_category') }}">Catégories</a>
                        </button>
                    </li>
                    {% if not is_granted("ROLE_USER") %}
                    <li>
                        <button class="hover:bg-blue-400 hover:text-teal-700 font-bold py-0 px-2 rounded">
                            <a href="{{ path('app_register') }}">S'inscrire</a>
                        </button>
                    </li>
                    <li>
                        <button class="hover:bg-blue-400 hover:text-teal-700 font-bold py-0 px-2 rounded">
                            <a href="{{ path('app_login') }}">Login</a>
                        </button>
                    </li>
                    {% else %}
                    <li>
                        <button class="hover:bg-blue-400 hover:text-teal-700 font-bold py-0 px-2 rounded">
                            <a href="{{ path('app_logout') }}">Logout</a>
                        </button>
                    </li>
                    {% endif %}                    
                </ul>
            </nav>
                       
        </header>

        <!-- Hauteur de la page - (header + footer) -->
        <main class="min-h-[calc(100vh-328px)]">

            {% block body %}{% endblock %}

        </main>

        <!-- FOOTER -->
        <footer class="bg-blue-800 flex flex-wrap mt-2 pt-5 pb-5">            
            <div class="bloc-Informations w-full pb-8 xl:w-1/4 md:w-1/2 md:pb-8 flex flex-col items-center">
                <h3 class="text-white">Informations</h3>
                <ul class="text-teal-400 flex flex-col items-center">
                    <li><a href="#">A propos de nous</a></li>
                    <li><a href="#">Annonceurs</a></li>
                    <li><a href="#">Données personnelles</a></li>
                    <li><a href="#">Mentions légales</a></li>
                </ul>
            </div>
            <div class="bloc-Services w-full pb-8 xl:w-1/4 md:w-1/2 flex flex-col items-center">
                <h3 class="text-white">Nos services</h3>
                <ul class="text-teal-400 flex flex-col items-center">
                    <li><a href="#">Boutique</a></li>
                    <li><a href="#">Newsletter</a></li>
                    <li><a href="#">Infos salons</a></li>
                    <li><a href="#">Téléchargements</a></li>
                </ul>
            </div>
            <div class="bloc-Partager w-full pb-8 xl:w-1/4 md:w-1/2 flex flex-col items-center">
                <h3 class="text-white">Partager</h3>
                <ul class="text-teal-400 flex flex-col items-center">
                    <li><a href="#">Forum</a></li>
                    <li><a href="#">Blogs</a></li>
                    <li><a href="#">Livre d'or</a></li>
                    <li><a href="#">Ailleurs sur le web</a></li>
                </ul>
            </div>
            <div class="bloc-reseaux text-white w-full xl:w-1/4 md:w-1/2 flex flex-col items-center">
                <h3 class="pb-2">Réseaux sociaux</h3>
                <ul class="flex flex-col">
                    <li><a href="#" class="flex"><img src="{{ asset('Amazing/images/Icons/Facebook-gris30px.png') }}" class="mr-2">facebook</a></li>
                    <li><a href="#" class="flex"><img src="{{ asset('Amazing/images/Icons/Twitter-gris30px.png') }}" class="mr-2">twitter</a></li>
                    <li><a href="#" class="flex"><img src="{{ asset('Amazing/images/Icons/Youtube-gris30px.png') }}" class="mr-2">youtube</a></li>
                </ul>
            </div>            
        </footer>
    </body>
</html>
