{% extends 'amazing.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
<!-- Post Content-->
        <article class="">
            <div class="max-w-md md:max-w-xl xl:max-w-3xl mx-auto bg-white rounded-xl shadow-xl overflow-hidden mb-5">
                <div class="">
                    <div class="md:shrink-0">
                        <img class="h-48 w-full object-cover" src="{{ post.image }}" alt="">
                    </div>
                    <div class="p-8">
                        <div class="uppercase tracking-wide text-xl text-blue-800 font-semibold">
                        {{ post.title }}
                        </div>
                        <div class="mt-2 text-slate-700 marge-custom contenu">
                         {{ post.content | raw }}
                        </div>
                        <div class="metadata text-slate-500">
                            Rédigé par
                            {{ post.user.email }}
                            le {{ post.createdAt | date('d/m/Y') }}
                            à {{ post.createdAt | date('H:i') }}
                            - classé dans {{ post.category.name }}
                        </div>

                        {# {% if (comments) %} #}
                        <div class="">
                            <h2 class="mt-10 mb-10 text-center text-xl font-extrabold text-blue-800">
                                Les commentaires
                            </h2>
                            <ul class="list-group">
                                {% for comment in comments %}
                                    <li class="list-group-item pb-5">
                                        <b>Le {{ comment.createdAt | date('d/m/Y H:i') }}, {{ comment.user.email }} a écrit : </b><br>
                                        {{ comment.content }}
                                    </li>
                                {% endfor %}
                            </ul>                            
                        </div>
                        {# {% endif %} #}

                        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                                <div class="bg-blue-500 min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
                                    <div class="max-w-md w-full space-y-8">
                                        <div>
                                            <h3 class="mt-6 text-center text-xl font-extrabold text-blue-800">
                                            Commentez cet article
                                            </h3>
                                        </div>

                                            {{ form_start(commentForm) }}
                                                {{ form_row(commentForm.Content, {
                                                    label: 'Saisissez votre message'
                                                }) }}
                                                <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                                                Soumettre
                                                </button>
                                            {{ form_end(commentForm) }}
                                    </div>
                                </div>
                        {% else %}
                            <div class="">
                                <h3 class="mt-6 text-center text-xl font-extrabold text-blue-800">Pour laisser un commentaire, vous devez vous connecter</h3>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </article>
{% endblock %}