{% extends 'amazing.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
<!-- Post Content-->
        <article class="">
            <div class="max-w-md md:max-w-xl xl:max-w-3xl mx-auto bg-white rounded-xl shadow-xl overflow-hidden mb-5">
                <div class="">
                    <div class="md:shrink-0">
                        <img class="h-48 w-full object-cover" src="{{ post.image }}" alt="">
                    </div>
                    <div class="p-8">
                        <div class="uppercase tracking-wide text-xl text-blue-800 font-semibold">
                        {{ post.title }}
                        </div>
                        <div class="mt-2 text-slate-700 marge-custom contenu">
                         {{ post.content | raw }}
                        </div>
                        <div class="metadata text-slate-500">
                            Rédigé par
                            {{ post.user.email }}
                            le {{ post.createdAt | date('d/m/Y') }}
                            à {{ post.createdAt | date('H:i') }}
                            - classé dans {{ post.category.name }}
                        </div>
                    </div>
                </div>
            </div>
        </article>
{% endblock %}